*.bam
*.fq.gz
*.fastq.gz
*.sam
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.ht2
*.bashvars
.DS_Store
data/*fa
data/ncbi_dataset/data*
data/ncbi*zip

data/Bisulfite_Genome/*
data/*fq.gz

code/*fastq
output/02*
output/04-bismark-klone-array/*bam
output/07*
output/06-bismark-pipeline/*
output/09*
output/01*